<div class="column">
  <nav class="panel">
    <p class="panel-heading">Who to Follow</p>
  <div class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <img src="https://t3.ftcdn.net/jpg/03/86/31/26/240_F_386312677_YVuEEXe48jqh4bHCeTuaEc9fDnGCrwsF.jpg">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <strong>Sri Sattya</strong>
          <small>@prema</small>
        </div>
      </div>
    </article>
  </div>
  <div class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <img src="https://t3.ftcdn.net/jpg/03/88/09/16/240_F_388091646_6eCdnKDVFJGaQgHSMBnuLEnvT9Jsze4v.jpg">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <strong>Nyanda Ngoye</strong>
          <small>@wakanda</small>
        </div>
      </div>
    </article>
  </div>
  <div class="panel-block">
    <article class="media">
      <div class="media-left">
        <figure class="image is-32x32">
          <img src="https://as1.ftcdn.net/jpg/03/85/49/76/500_F_385497694_gJBkO0Dy5kH35HADYmCQSk34fF2ARNvx.jpg">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <strong>Billy Joe</strong>
          <small>@thekid</small>
        </div>
      </div>
    </article>
  </div>
</div>
</nav>